@page
@model DetailsModel

@if (@Model.DetailsResult == null ) return;

<h1>
	@Model.DetailsResult.Name
</h1>

<code>
@foreach (var tag in @Model.DetailsResult.Tags)
{
	<small>@tag.Name</small>
}
</code>

<h2>Episodes</h2>

<ul class="episodes-list">
@foreach (var episode in @Model.DetailsResult.Episodes.OrderBy(x => x.Name).Select(x => x.Name))
{
	<li>@episode</li>
}
</ul>
