@page
@model SearchModel

@if (@Model.ModelState.IsValid) {
	<h1>Search results for &ldquo; @Model.ListRequest.Search &rdquo;</h1>
	@if (@Model.ListResponse.Any()) {
		<ul class="search-results">
		@foreach (var item in @Model.ListResponse)
		{
			<li>
				<a href="/details?id=@item.Id">@item.Name</a>
				<code>
				@foreach (var tag in item.Tags)
				{
					<small>@tag.Name</small>
				}
				</code>
			</li>
		}
		</ul>
	}
	else
	{
		<p>Nothing is found</p>
	}
}

@if (!@Model.ModelState.IsValid) {
	<div asp-validation-summary="All">
    	<span>Please correct the following errors</span>
	</div>
}
